<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="/static/docs/styles/style.css">
<script src='http://shjs.sourceforge.net/lang/sh_javascript.js'></script>
<script src='http://shjs.sourceforge.net/sh_main.js'></script>
<link rel='stylesheet' type='text/css' href='/static/docs/styles/code.css'>

<body onload="sh_highlightDocument('sh', 'javascript');">

<h1>Hangout App Codelab: {{ hostname }}</h1>

<p>Congratulations!  Your Hangout app codelab is now being hosted on AppEngine!</p>

<p>The HTML for your app should be visible at <a href="https://{{ hostname }}/hangoutapp">https://{{ hostname }}/hangoutapp</a>.</p>

<p>The XML for your app should be visible at <a href="https://hangoutiframer.appspot.com/forward/v0.3?u=https://{{ hostname }}/hangoutapp">https://hangoutiframer.appspot.com/forward/v0.3?u=https://{{ hostname }}/hangoutapp</a>.</p>

</body>
</head>
